:root {
    --primary: #dc3545;
    --secondary: #212529;
    --second-ligth: #d6d6d6;
}
* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*-- icon awesome ---*/
.fa.fa-arrow-left {
    color: var(--primary) !important;
}

/*---- navbar ----  */

#mainNav {
    transition: 0.5s;
}
#mainNav.scrolled {
    background-color: var(--secondary);
    color: white;
}

.btn.round {
    border-radius: 24px;
    width: 70px;
    padding: 2px;
}

.nav-item.login,
.nav-item {
    margin: auto;
}

.rounded-pill.profil:hover {
    opacity: 0.8;
}

.active {
    color: var(--primary) !important;
}

.nav-link:hover {
    color: var(--primary) !important;
}

.dropdown-item.profil:hover {
    color: var(--primary) !important;
}

/*---- main page -----*/

.btn.roundpage {
    border-radius: 25px;
}

.img-logo {
    width: 70vh;
}

.full-height {
    height: 100vh;
}

/**/
#event {
    height: 100vh;
    overflow: hidden; /* Ensure the entire carousel is visible within the viewport */
}
.row.event {
    height: 25vh;
}
.mini-card {
    max-width: 50rem; /* Adjust the maximum width of the mini card */
}

.mini-card img {
    max-height: 50vh; /* Adjust the maximum height of the image in the mini card */
    object-fit: cover; /* Ensure the image covers the entire space */
}

#cardSlider .carousel-control-prev-icon,
#cardSlider .carousel-control-next-icon {
    background-color: black; /* Set the background color for the controls */
    color: black; /* Set the text color for the controls */
}

#cardSlider .carousel-control-prev-icon {
    border-radius: 20px 0px 0px 20px;
}

#cardSlider .carousel-control-next-icon {
    border-radius: 0px 20px 20px 0px;
}

.carousel-item:hover img {
    opacity: 0.9;
}

/*-- about --*/
#about {
    background-color: var(--primary);
}

/*-- footer --*/
.more-dark {
    background-color: #1d1d1d;
}

/*-- modul --*/
.fullscreen {
    height: 100%;
}

.modul img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.modul-content img {
    width: 100%;
}

.modul-sidebar img,
.jadwal-sidebar img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.page-link.active,
.active > .page-link {
    background-color: var(--primary) !important;
    border: var(--primary) !important;
}
.page-link:not(.active > .page-link) {
    color: var(--primary) !important;
}

/*--- komentar ---*/
.komentar img {
    width: 40px;
    height: 40px;
}

/*-- kuis --*/
.card.kuis img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

/* .input-group-text input:checked + .form-control {
    border: 1px solid red;
    background-color: #f8d7da;
}

.input-group-text input:checked + label {
    color: red;
    font-weight: bold;
}
.input-group-text.form-control:focus {
    border: 1px var(--primary);
} */
